Import pandas as pd

In [ ]:
import pandas as pd

Read Salaries.csv as a dataframe called sal

In [ ]:
sal = pd.read_csv('Salaries.csv')

Check the head of the DataFrame

In [ ]:
sal.head()

Use the .info() method to find out how many entries there are

In [ ]:
sal.info()

Find the average BasePay ?

Answer: 66325.44884050643

In [ ]:
sal['BasePay'].mean()

Find is the highest amount of OvertimePay in the dataset ?

Answer: 245131.88

In [ ]:
sal['OvertimePay'].max()

Find the job title of JOSEPH DRISCOLL ?

Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll)

Answer: CAPTAIN, FIRE SUPPRESSION

In [ ]:
joseph = sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL', 'JobTitle'].values[0]
joseph

How much does JOSEPH DRISCOLL make (including benefits)?

Answer: 270324.91

In [ ]:
sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL', 'TotalPayBenefits'].values[0]

What is the name of highest paid person (including benefits) ?

Note: Print the entire row of data as follows

Answer:

In [ ]:
1 | NATHANIEL FORD | GENERAL MANAGER - METROPOLITAN TRANSIT...

In [ ]:
sal.loc[sal['TotalPay'] == sal.describe().loc['max', 'TotalPay']]

What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid? If yes put it as a comment inside the given code block

Note: Print the entire row of data as follows

Answer:

In [ ]:
148654 |    Joe Lopez    | Counselor, Log Cabin Ranch...

In [ ]:
sal.loc[sal['TotalPay'] == sal.describe().loc['min', 'TotalPay']]
# yes

What was the average (mean) BasePay of all employees per year? (2011-2014) ?

Answer:

In [ ]:
Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [ ]:
sal.groupby('Year')['BasePay'].mean()

How many unique job titles are there ?

Answer: 2159

In [ ]:
len(sal['JobTitle'].unique())

What are the top 5 most common jobs ?

Answer:

In [ ]:
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [ ]:
sal['JobTitle'].value_counts().head(5)